@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded:wght@500&display=swap');

body {
    background-color: beige;
    text-align: center;
}

h1 {
    font-family: 'Unbounded', cursive;
}

p, input, button {
    font-family: 'Poppins', sans-serif;
}

strong {
    font-size: 20px;
}

em {
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}

div {
    margin: 10px;
}

button {
    border: 1px solid black;
    border-radius: 30px;
    background-color: aliceblue;
    transition: all 300ms;
    font-size: 20px;
    width: 50px;
}

button:hover {
    background-color: aquamarine;
}

input {
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 5px;
    transition: all 300ms;
}

input:hover {
    background-color: bisque;
}

input:focus {
    background-color: burlywood;
}